/* Global */
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  
}
/* header */
.title {
  text-align: center;
  color: red;
  font-family: "Grenze Gotisch", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

header {
  padding: 20px 0px;
}

a {
  text-decoration: none;
}

a:visited {
  color:black;
}

.barra-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 15vw;
}

.elementos-menu {
  margin-right: 8px;
}
/* post */
h1, h2{
  text-align: center
}

.titulo-blog{
  padding: 1rem 0;
  font-family: "Grenze Gotisch", serif;
  font-size: 3rem;
}
.post {
  margin: 15px 15vw;
  border: 3px solid black;
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.comentarios {
  padding-bottom: 1rem;
}

.resumen{
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 150;
}

svg {
  height: 15px;
  width: 15px;
}

.pie-post {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.Read-more{
  text-decoration: underline;
  font-style: italic;
}

/*foot*/

footer{
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 100;
  margin: 1rem 0;
}
